@mixin title-home {
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $color-grey-light;
    text-transform: uppercase;
}

@mixin vulpesvulpes {
    position: relative;
    display: inline-block;
}