#MenuButton {
    font-size: 7rem;
    cursor: pointer;
    padding-left: 1rem;
    transition: 0.3s;
    z-index: 5;
    color: $color-grey-light;
    position: -webkit-sticky;
    position: sticky;
    top: 5.2rem;
  
    &:hover{
      color: $color-orange;
    }
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: $color-blue-dark;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
  
    & a {
      padding: 0.8rem 0.8rem 0.8rem 3.2rem;
      text-decoration: none;
      font-size: 5rem;
      color: $color-white;
      display: block;
      transition: 0.3s;
      text-align: center;
  
      &:hover {
          color: $color-orange;
        }
    }
    
    & .sidenav__closebtn {
      position: absolute;
      top: 0;
      font-size: 3.6rem;
    }
  }
  
@media screen and (max-width: 1500px) {
  .sidenav a {
    font-size: 12rem;
  }
  
  .sidenav .sidenav__closebtn {
    font-size: 20rem;
  }

  .sidenav a:nth-child(2) {
    margin-top: 25rem;
  }

  #MenuButton {
    font-size: 15rem;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 2000px) {
  .sidenav a {
    font-size: 6rem;
  }
  
  .sidenav .sidenav__closebtn {
    font-size: 8rem;
  }

  .sidenav a:nth-child(2) {
    margin-top: 15rem;
  }

  #MenuButton {
    font-size: 12rem;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 3000px) {
  .sidenav a {
    font-size: 8rem;
  }
  
  .sidenav .sidenav__closebtn {
    font-size: 15rem;
  }

  .sidenav a:nth-child(2) {
    margin-top: 20rem;
  }

  #MenuButton {
    font-size: 20rem;
    margin-left: 5rem;
  }
}
