@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Italiana&display=swap');

// ---------------------------------------------------Home-----------------------------------------------------------------
.logo__title {
    @include title-home;
    animation: fox-appear 2s ease-out;
    font-size: 1000%;
    margin-top: -4rem;
    margin-bottom: -6rem;
  }
  
.logo__name {
  animation: fox-appear 2s ease-out;
  @include title-home;
  font-size: 200%;
  font-family: 'Italiana', monospace;
}

// ---------------------------------------------------Media Queries-----------------------------------------------------------------
  @media screen and (max-width: 1500px) {
    .logo__title {
      font-size: 2200%;
    }

    .logo__name {
      font-size: 400%;
      margin-top: -15rem;
    }
  }

  @media screen and (min-width: 2000px) {
    .logo__title {
      font-size: 1500%;
    }

    .logo__name {
      font-size: 200%;
      line-height: 5.5rem;
      padding-right: .5rem;
    }
  }

  @media screen and (min-width: 3000px) {
    .logo__title {
      font-size: 1800%;
    }

    .logo__name {
      font-size: 500%;
      line-height: 5.5rem;
      padding-right: 2.3rem;
    }
  }